*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    font-size: 14px;
}
ul{
    list-style: none;
}
.content{
    width: 975px;
    margin: auto;
}
.title-box{
    width: 975px;
    height: 67px;
}
.title{
    display: inline-block;
    font-size: 38px;
    font-weight: 600;
    height: 53px;
    line-height: 53px;
    margin-top: 14px;
}
.update-time{
    color: #999;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;
}
.button-box{
    display: flex;
    margin-bottom: 40px;
    margin-top: 23px;
}
.play-all{
    background: #ffe12c;
    width: 150px;
    border-radius: 22px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    padding: 0 30px;
    box-sizing: border-box;
    text-align: center;
}
.add{
    align-items: center;
    background: #f2f2f2;
    border-radius: 22px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
    padding: 0 30px;
}
.music-box{
    width: 975px;
}
.top-title{
    width: 975px;
    height: 46px;
    display: flex;
    background-color: #fafafa;
    line-height:46px;
}
.top-title li{
    color: #999;
    font-size: 14px;
}
.head-num , .number{
    width: 20%;
    padding-left: 2.81%;
    box-sizing: border-box;
}
.head-name , .song-name{
    width: 27.83%;
}
.head-artist , .author{
    width: 17.82%;
}
.head-album , .artist{
    width: 27.79%;
}
.head-time .time{
    width: 6.56%;
}
.rank-list{
    width: 975px;
}
.flex-box{
    position: relative;
    display: flex;
    width: 975px;
    height: 70px;
    line-height: 70px;
    font-size: 14px;
    color: #666;
}
.flex-box-double{
    background-color: #fafafa;
}
.flex-box:hover{
    background-color: #f5f5f5;
}
.flex-box:hover .song-icon{
    display: block;
}
.flex-box:hover .time{
    display: none;
}
.number{
    height: 70px;
    padding-left: 3.18%;
    padding-right: 20px
}
.number-img{
    width: 40px;
    height: 40px;
    margin-left: -10px;
    margin-top: 20px;
}
.head-img{
    position: absolute;
    left: 125px;
    top: 8px;
    width: 54px;
    height: 54px;
}
.song-name{
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
.iconfont.icon-wusun{
    margin-left: 3px;
    color: #ffd700;
}
.song-icon{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 4.28%;
    width: 18%;
    margin-right: 3.93%;
    box-sizing: border-box;
    height: 70px;
    background-color: #f5f5f5;
}
.song-icon span{
    margin-right: 15px;
}
.song-icon span:last-child{
    margin-right: 0;
}
.iconfont.icon-bofang{
    font-size: 18px;
}
.iconfont.icon-jiahao{
    font-size: 18px;
}
.icconfont.icon-aixin{
    font-size: 18px;
}
.iconfont.icon-icon-{
    font-size: 18px;
}
.alb-number{
    width: 40px;
    height: 70px;
    color: #333;
    font-weight: 700;
    margin-left: -10px;
    text-align: center;
}
.bottom-player{
    position: fixed;
    bottom: -60px;
    right: 0;
    left: 0;
    height: 72px;
    padding: 0 120px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px -5px 5px 0px rgba(245,245,245,.9);
}
.bottom-player:hover{
    bottom: 0;
    transition: all 1s;
}
.bottom-content{
    display: flex;
    justify-content: space-between;
}
.left-sort{
    display: flex;
    width: 460px;
}
.active-song-box{
    width: 370px;
}
.active-img{
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.up-box{
    display: flex;
    margin-top: 20px;
    
}
.song-list{
    width: 270px;
    display: flex;
}
.song-intro{
    width: 100px;
}
.song-intro p{
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
}
.song-author{
    width: 55px;
    color: #666;
}
.long span{
    color: #999;
}
.down-box{
    position: relative;
}
.tiao{
    width: 370px;
    height: 3px;
    background-color: #f5f5f5;
    margin-top: 15px;
}
.round{
    position: absolute;
    top: -5px;
    left: 0;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
}
.round-two{
    position: absolute;
    top: -1px;
    left: 4px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ffdf1f;
}
.long{
    margin-left: 22px;
}
.center-sort{
    display: flex;
    width: 164px;
    margin: 0 160px;
    text-align: center;
    line-height: 70px;
}
.center-sort span{
    margin-right: 20px;
}
.iconfont.icon-last{
    font-size: 20px;
}
.iconfont.icon-bofang1{
    font-size: 40px;
}
.iconfont.icon-next{
    font-size: 20px;
}
.right-sort{
    display: flex;
    width: 460px;
    justify-content: space-between;
    line-height: 70px;
}
.iconfont.icon-play-lists{
    font-size: 22px;
}
.jindu-box{
    position: relative;
}
.jindu-round{
    position: absolute;
    top: 28px;
    left: -35px;
    width: 12px;
    height: 12px;
    border:1px solid #f5f5f5;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 1;
}
.jindu-roundtwo{
    position: absolute;
    top: 32px;
    left: -31px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #ffdf1f;
    z-index: 2;
}
.jindu{
    position: absolute;
    top: 33px;
    left: -30px;
    width: 86px;
    height: 3px;
    background-color: #f5f5f5;

}




