* {
  margin: 0;
  padding: 0;
}

body {
  font: 16px Arial, Verdana;
  background-color: #F5F6FA;
  user-select: none;
}

.biaodan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  background-color: #fff;
  margin: 30px auto 30px;
  padding: 34px 10px;
  box-sizing: border-box;
  border-radius: 12px;
}

.biaodan .biaodan-box div {
  height: 44px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.biaodan .biaodan-box div p {
  white-space: nowrap;
  width: 80px;
  margin-right: 10px;
}

.biaodan .biaodan-box div .ipt {
  position: relative;
  width: 370px;
  height: 44px;
  border-radius: 14px;
  border: 1px solid #e0e0e0;
}

.biaodan .biaodan-box div .ipt .p1 {
  display: none;
  position: absolute;
  right: -105px;
  bottom: 11px;
}

.biaodan .biaodan-box div .ipt .p2 {
  display: none;
  position: absolute;
  right: -105px;
  bottom: 11px;
}

.biaodan .biaodan-box div .ipt .p3 {
  display: none;
  position: absolute;
  right: -105px;
  bottom: 11px;
}

.biaodan .biaodan-box div .ipt .p4 {
  display: none;
  position: absolute;
  right: -105px;
  bottom: 11px;
}

.biaodan .biaodan-box div .ipt .p5 {
  display: none;
  position: absolute;
  right: -105px;
  bottom: 11px;
}

.biaodan .biaodan-box div .ipt .p6 {
  display: none;
  position: absolute;
  right: -105px;
  bottom: 11px;
}

.biaodan .biaodan-box div .ipt input {
  width: 370px;
  height: 44px;
  background-color: #F7F8FC;
  outline: none;
  border-radius: 14px;
  border: none;
  padding-left: 15px;
  box-sizing: border-box;
}

.biaodan .biaodan-box div:last-child {
  margin-bottom: 0;
}

.biaodan .biaodan-box .title {
  width: 100px;
  font-weight: bold;
  color: #FA2C19;
  font-size: 18px;
  margin: 0 auto 30px;
}

.biaodan .biaodan-box .title p {
  margin-right: 0;
  width: 100px;
}

.biaodan .biaodan-box .btn-box {
  width: 80px;
  height: 40px;
  border-radius: 12px;
  margin: auto;
}

.biaodan .biaodan-box .btn-box .anniu {
  width: 80px;
  height: 40px;
  background-color: #FA2C19;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border: none;
  outline: none;
  border-radius: 12px;
  cursor: pointer;
}
